* {
  margin: 0%;
  padding: 0%;
}
body {
 font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
nav {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(18, 117, 117);
  color: white;
  font-size: 28px;
  height: 90px;
}
.container {
  width: 500px;
  padding: 22px;
  background-color: #fff;
  box-shadow: 1px 3px 3px 3px rgb(215, 215, 215);
  border-radius: 6px;
  position: relative;
  top: 43px;
  margin: auto;
}
.searchBar {
  display: flex;
  gap: 4px;
}
.container input {
  width: 80%;
  padding: 12px;
  height: 15px;
  border: none;
  outline: none;
  background-color: #e1e1e1;
  border-radius: 5px;
  font-size: 18px;
}
.searchBar button {
  width: 80px;
  background-color: orange;
  color: white;
  font-size: 16px;
  border-radius: 5px;
  border: none;
}
.searchBar button:hover {
  background-color: rgb(18, 117, 117);
  color: white;
}
.text {
  padding: 22px;
  margin-top: 20px;
}
.text p {
  margin-top: 15px;
}
.text a {
  padding: 6px 20px;
  background-color: orange;
  color: white;
  text-decoration: none;
  font-size: 18px;
  position: relative;
  top: 14px;
  border-radius: 5px;
  box-shadow: 1px 1px 1px 3px rgb(15, 115, 115);
}
.text a:hover {
  background-color: rgb(18, 117, 117);
  color: white;
}
.text span {
  color: gray;
}

@media screen and (max-width: 600px) {
  .container {
    width: 80%;
  }
}
.gap {
  padding-top: 2px;
}
